body {
  background-color: #444;  
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 36px;
}

.container {
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  box-sizing: border-box;
  padding: 25px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

form {
  font-size: 0;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  
  font-size: 16px;
  appearance: none;
  outline: 0;
  border: 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

input:focus {
  box-shadow: 0px 0px 15px #444;
}

.input-half {
  display: inline-block;
  margin: 0;
  width: 49%;
}

.input-half:nth-of-type(even) {
  margin-left: 2%;
}

.button-form-login {
    display: inline-block;
    text-decoration: none;
    color: #f1f1ef;
    border-radius: 5px;
    background: #e66767;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 25px;
    transition: 0.4s linear;
}
.button-form-login:hover {
    text-decoration: none;
    border: none;
    color: rgb(255, 0, 0);
    background: #ffffff;
  }


.error {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  background-color: #e66767;
}

.hidden {
  display: none;
}
.container2 {
    max-width: 1170px;
    margin: auto;
}

header .title {
    float: left;
}

header .title a {
    font-size: 30px;
    display: inline-block;
    padding: 5px 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
}

header .title a span {
    color: #e66767;
}
header .navbar {
    float: right;
}
header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li {
    list-style: none;
    position: relative;
    float: left;
}
header .navbar ul li a {
    display: block;
    padding: 22px 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}
header .navbar ul li ul{
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    padding: 3px;
    border-radius: 0px 0px 4px 4px;
}
header .navbar ul li:hover ul {
    display: block;
    
}
header .navbar ul li ul li {
    width: 123px;
    border-radius: 4px;
}
header .navbar ul li ul li a{
    padding: 10px 14px;
}
header .navbar ul li ul li a:hover{
    background-color: #e66767;
}

header .navbar ul li a::before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -5px;
    height: 2px;
    right: 0px;
    background-color: #e66767;
    width: 0;
    transition: width .5s ease;
}

header .navbar ul li a.active::before {
    width: 100%;
}

header .navbar ul li a:hover::before {
    width: 100%;
}
